WSDLResolver/UserService.xml

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="UserServiceBeanService"
	targetNamespace="http://agh.edu.pl/soa" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://agh.edu.pl/soa"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema targetNamespace="http://agh.edu.pl/soa" version="1.0"
			xmlns:tns="http://agh.edu.pl/soa" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:complexType name="user">
				<xs:sequence>
					<xs:element minOccurs="0" name="company" type="tns:company" />
					<xs:element minOccurs="0" name="email" type="xs:string" />
					<xs:element minOccurs="0" name="id" type="xs:long" />
					<xs:element minOccurs="0" name="login" type="xs:string" />
					<xs:element minOccurs="0" name="name" type="xs:string" />
					<xs:element minOccurs="0" name="newsletterPermission"
						type="xs:boolean" />
					<xs:element minOccurs="0" name="password" type="xs:string" />
					<xs:element minOccurs="0" name="phone" type="xs:string" />
					<xs:element minOccurs="0" name="surname" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="company">
				<xs:sequence>
					<xs:element minOccurs="0" name="address" type="tns:address" />
					<xs:element minOccurs="0" name="id" type="xs:long" />
					<xs:element minOccurs="0" name="name" type="xs:string" />
					<xs:element minOccurs="0" name="phone" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="address">
				<xs:sequence>
					<xs:element minOccurs="0" name="city" type="xs:string" />
					<xs:element minOccurs="0" name="country" type="xs:string" />
					<xs:element minOccurs="0" name="flatNr" type="xs:int" />
					<xs:element minOccurs="0" name="homeNr" type="xs:int" />
					<xs:element minOccurs="0" name="id" type="xs:long" />
					<xs:element minOccurs="0" name="street" type="xs:string" />
					<xs:element minOccurs="0" name="zipCode" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType final="#all" name="userArray">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item"
						nillable="true" type="tns:user" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getNewsletterSubscribersForCompany">
		<wsdl:part name="arg0" type="xsd:long">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getUsersResponse">
		<wsdl:part name="UsersListResponse" type="tns:userArray">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateUserResponse">
	</wsdl:message>
	<wsdl:message name="getUserByIdResponse">
		<wsdl:part name="FindUserResponse" type="tns:user">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="registerUser">
		<wsdl:part name="user" type="tns:user">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getUsersForCompanyResponse">
		<wsdl:part name="UsersListResponse" type="tns:userArray">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getUsersForCompany">
		<wsdl:part name="arg0" type="xsd:long">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getUserById">
		<wsdl:part name="id" type="xsd:long">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateUser">
		<wsdl:part name="id" type="xsd:long">
		</wsdl:part>
		<wsdl:part name="user" type="tns:user">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getUsers">
	</wsdl:message>
	<wsdl:message name="getNewsletterSubscribersForCompanyResponse">
		<wsdl:part name="UsersListResponse" type="tns:userArray">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="registerUserResponse">
	</wsdl:message>
	<wsdl:portType name="UserService">
		<wsdl:operation name="getUsers">
			<wsdl:input message="tns:getUsers" name="getUsers">
			</wsdl:input>
			<wsdl:output message="tns:getUsersResponse" name="getUsersResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateUser">
			<wsdl:input message="tns:updateUser" name="updateUser">
			</wsdl:input>
			<wsdl:output message="tns:updateUserResponse" name="updateUserResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getUserById">
			<wsdl:input message="tns:getUserById" name="getUserById">
			</wsdl:input>
			<wsdl:output message="tns:getUserByIdResponse" name="getUserByIdResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getUsersForCompany">
			<wsdl:input message="tns:getUsersForCompany" name="getUsersForCompany">
			</wsdl:input>
			<wsdl:output message="tns:getUsersForCompanyResponse"
				name="getUsersForCompanyResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="registerUser">
			<wsdl:input message="tns:registerUser" name="registerUser">
			</wsdl:input>
			<wsdl:output message="tns:registerUserResponse" name="registerUserResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNewsletterSubscribersForCompany">
			<wsdl:input message="tns:getNewsletterSubscribersForCompany"
				name="getNewsletterSubscribersForCompany">
			</wsdl:input>
			<wsdl:output message="tns:getNewsletterSubscribersForCompanyResponse"
				name="getNewsletterSubscribersForCompanyResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="UserServiceBeanServiceSoapBinding"
		type="tns:UserService">
		<soap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getUsers">
			<soap:operation soapAction="" style="rpc" />
			<wsdl:input name="getUsers">
				<soap:body namespace="http://agh.edu.pl/soa" use="literal" />
			</wsdl:input>
			<wsdl:output name="getUsersResponse">
				<soap:body namespace="http://agh.edu.pl/soa" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateUser">
			<soap:operation soapAction="" style="rpc" />
			<wsdl:input name="updateUser">
				<soap:body namespace="http://agh.edu.pl/soa" use="literal" />
			</wsdl:input>
			<wsdl:output name="updateUserResponse">
				<soap:body namespace="http://agh.edu.pl/soa" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getUserById">
			<soap:operation soapAction="" style="rpc" />
			<wsdl:input name="getUserById">
				<soap:body namespace="http://agh.edu.pl/soa" use="literal" />
			</wsdl:input>
			<wsdl:output name="getUserByIdResponse">
				<soap:body namespace="http://agh.edu.pl/soa" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getUsersForCompany">
			<soap:operation soapAction="" style="rpc" />
			<wsdl:input name="getUsersForCompany">
				<soap:body namespace="http://agh.edu.pl/soa" use="literal" />
			</wsdl:input>
			<wsdl:output name="getUsersForCompanyResponse">
				<soap:body namespace="http://agh.edu.pl/soa" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="registerUser">
			<soap:operation soapAction="" style="rpc" />
			<wsdl:input name="registerUser">
				<soap:body namespace="http://agh.edu.pl/soa" use="literal" />
			</wsdl:input>
			<wsdl:output name="registerUserResponse">
				<soap:body namespace="http://agh.edu.pl/soa" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNewsletterSubscribersForCompany">
			<soap:operation soapAction="" style="rpc" />
			<wsdl:input name="getNewsletterSubscribersForCompany">
				<soap:body namespace="http://agh.edu.pl/soa" use="literal" />
			</wsdl:input>
			<wsdl:output name="getNewsletterSubscribersForCompanyResponse">
				<soap:body namespace="http://agh.edu.pl/soa" use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="UserServiceBeanService">
		<wsdl:port binding="tns:UserServiceBeanServiceSoapBinding"
			name="UserServicePort">
			<soap:address location="http://localhost:8080/ReservationBeans/UserService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>